html, body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	border: 0;
	padding: 0;
}

.Title {
	text-align: center;
	font-size: 50px;
	opacity: 1.0;
} 

.Home {
  width: 1150px;
  height: 650px;
  background-color: darkred;
  opacity: 0.75;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.Play {

} 

.vanish {
	display: none;
}

.optionsButton {
	width: 500px;
	height: 50px;
	margin: 10px;
}

.Leaderboard {

}

.App {
	height: 100%;
	width: 100%;
}

.Chat {
 width: 25%; 
 height: 750px;
 float: right;
 display: inline-block;
 margin-right: 15px;
 margin-bottom: 15px;
 padding: 10px;
 border: solid 5px darkred;
}

#canvas {
 width: 71%; 
 height: 97%;
 float: left;
 display: inline-block;
}

.videoChat {
    position: absolute;
    bottom: 0;
    right: 0;
}