html, body {
	background-image: url(maze-background.jpg);
	background-size: cover;
	overflow: hidden;
	height: 100%;
	width: 100%;
	border: 0;
	padding: 0;
}

.Title {
	text-align: center;
	font-size: 50px;
	opacity: 1.0;
} 

.Home, .Login {
	opacity: 0.9;
  width: 1150px;
  height: 650px;
  background-color: darkred;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

 .GameOver {
 		opacity: 0.9;
	  width: 600px;
	  height: 600px;
	  background-color: darkred;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 25%;
	  text-align: center;
	  margin: auto;
 }

.vanish {
	display: none;
}

.homeButtons {
	width: 500px;
	height: 50px;
	margin: 10px;
}

.Leaderboard {

}

.App {
	height: 100%;
	width: 100%;
}

.Chat {
 width: 25%; 
 height: 750px;
 float: right;
 display: inline-block;
 margin-right: 15px;
 margin-bottom: 15px;
 padding: 10px;
 background-color: darkred;
 opacity: 0.9;
 border: solid 5px darkred;
}

.Options {
	text-align: center;
	border: dotted 2px black;
	padding-bottom: 10px;
}

.optionButtons {
	width: 150px;
	height: 25px;
	margin-right: 5px;
	margin-left: 5px;
}

a {
	cursor: pointer;
	text-decoration: underline;
}

#canvas {
 width: 71%; 
 height: 97%;
 float: left;
 display: inline-block;
}

#videos {
	padding: 15px;
	margin: 15px;
}

#localVideo {
     width: 300px;
     float: center;
 }
#remoteVideo {
    width: 300px;
    float: center;
}

.progress {
	positon:absolute;
	top: 0;
}